<!-- Modal -->
<div class="modal fade" id="product-detail" tabindex="-1" role="dialog" aria-labelledby="product-detail" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="product-detailLabel">Thông Tin Sản Phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div style="background: #f5f5f5;">
          <div class="">
            <div class="gioi-thieu-san-pham row mb-4">
              <div class="product-image col-md-4">
                <img class="image" [src]="product.product_image" alt="">
              </div>
              <div class="product-info col-md-8">
                <h2 class="display-4">Nước Hoa Nữ Bright Crystal - Nước Hoa Nữ Versace - nước hoa nữ Thuần Khiết - Nước hoa nữ 90ml</h2>
                <div class="price">
                  <span class="price-present">235.235đ</span>
                </div>

                <hr>

                <div class="shopee-product-info-body__row shopee-product-info-body__free-shipping">
                  <span class="shopee-product-info-body__free-shipping-text">Miễn Phí Vận Chuyển cho đơn hàng có giá trị từ ₫180.000 (giảm tối đa 50.000 VNĐ)</span>
                </div>
                <div class="shopee-product-info-body__shipping-block-label">Vận chuyển tới: Hà Nội, Huyện Ba Vì</div>
                <div class="shopee-product-info-body__shipping-block-label">phí vận chuyển: ₫0</div>

                <hr>

                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-danger" (click)="decrease()">-</button>
                  <input type="text" style="width: 40px !important;" name="quantity" value="{{product.quantity }}" min="1" max="20" disabled>
                  <button type="button" class="btn btn-danger" (click)="increase()">+</button>
                </div>
                <br>
                <br>

                <a href="#" class="btn btn-danger add-to-cart">Cho vào giỏ hàng</a>
                <a href="#" class="btn btn-info add-to-cart">Mua ngay</a>
              </div>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">
                  <h2 class="display-4">Thông số sản phẩm</h2>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">
                  <h2 class="display-4">Thông tin sản phẩm</h2>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="binh-luan" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">
                  <h2 class="display-4">Bình luận</h2>
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="thong-so-san-pham" id="tab_content_product_specifications">

                  <table class="table table-bordered" id="tblGeneralAttribute">
                    <tbody>
                      <tr class="row-info">
                        <td>
                          <strong>Xuất xứ</strong>
                        </td>
                        <td>Pháp</td>
                      </tr>
                      <tr class="row-info">
                        <td>
                          <strong>Hạn sử dụng</strong>
                        </td>
                        <td>3 năm kể từ ngày sản xuất</td>
                      </tr>
                      <tr class="row-info">
                        <td>
                          <strong>Thành phần</strong>
                        </td>
                        <td>15 loại khoáng chất lấy từ nguồn nước khoáng Vichy</td>
                      </tr>
                      <tr class="row-info">
                        <td>
                          <strong>Loại da phù hợp</strong>
                        </td>
                        <td>Mọi loại da</td>
                      </tr>
                      <tr class="row-info">
                        <td>
                          <strong>Hướng dẫn bảo quản</strong>
                        </td>
                        <td>Bảo quản nơi khô ráo, thoáng mát</td>
                      </tr>
                      <tr class="row-info">
                        <td>
                          <strong>Dung tích</strong>
                        </td>
                        <td>150 (ml)</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- end table.table -->

                </div>
              </div>

              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="thong-tin-san-pham mb-4" id="tab_content_product_introduction">

                  <h3>Xịt khoáng dưỡng da Vichy Eau Thermale 150ml</h3>
                  <p>
                    <strong>Nước khoáng dưỡng da Vichy Thermal Spa Water</strong>&nbsp;được làm từ 15 khoáng chất quý hiếm trong
                    tự nhiên bao gồm sắt, Potassium, Canxi, Manganese, Silicon,... Nước khoáng đã được công nhận bởi tác
                    dụng làm dịu, củng cố và làm đẹp da hiệu quả, được kiểm chứng bởi 34 thí nghệm trên hơn 600 người thuộc
                    mọi loại da, thậm chí làn da nhạy cảm nhất và dưới sự giám sát của chuyên gia da liễu.</p>
                  <p>
                    <strong>Hướng dẫn sử dụng</strong>
                  </p>

                  <ul>
                    <li>Xịt khắp mặt, vỗ nhẹ, để yên 1 lát rồi thấm khô nhẹ nhàng</li>
                    <li>Có thể sử dụng nhiều lần trong ngày</li>
                  </ul>

                  <p>
                    <strong>Thông tin thương hiệu</strong>
                  </p>

                  <div>Vichy là thương hiệu nổi tiếng của Pháp được thành lập vào năm 1931 tại thành phố cùng tên Vichy bởi bác
                    sĩ da liễu Haller và nhà kinh doanh Guerin. Với nhiều năm kinh nghiệm, viện nghiên cứu Vichy đã sáng
                    tạo ra nhiều phương thức mới và hiệu quả để chăm sóc sức khỏe làn da. Tất cả sản phẩm Vichy được kiểm
                    nghiệm một cách toàn diện và khắt khe dưới sự giám sát của chuyên gia da liễu về độ an toàn và dịu nhẹ
                    cho da, đặc biệt đối với làn da nhạy cảm. Ngoài ra, các sản phẩm của Vichy đã được chứng minh không gây
                    dị ứng, không gây mụn, chứa nước khoáng Vichy giàu khoáng chất có tác dụng củng cố và tăng cường tái
                    tạo da.</div>
                </div>
              </div>
            </div>

            <!-- <app-san-pham-tuong-tu></app-san-pham-tuong-tu> -->
          </div>
        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="pushOneProduct()">Save changes</button>
      </div>
    </div>
  </div>
</div>