<app-nav-guest></app-nav-guest>
<h1>Hoan tat thanh toan</h1>
<div class="modal-body">
  <h5>Địa chỉ nhận hàng</h5>
  <div class="input-group">
    <span class="input-group-addon" id="ho-ten">Họ tên: </span>
    <input type="text" class="form-control" placeholder="Ví dụ: Cao Minh Hưng">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="ho-ten">Điện thoại: </span>
    <input type="text" class="form-control" placeholder="Ví dụ: 01218815991">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="ho-ten">Email: </span>
    <input type="email" class="form-control" placeholder="support@gmail.com">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="ho-ten">Tên đường phố: </span>
    <input type="text" class="form-control" placeholder="Phường 4, Quận Gò Vấp, Hồ Chí Minh">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="ho-ten">Địa chỉ chi tiết: </span>
    <input type="text" class="form-control" placeholder="Ví dụ: số 10, Ngõ 50, Ngách 100, Hẽm 22">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="ho-ten">Lời nhắn: </span>
    <textarea name="" id="" cols="20" rows="2" class="form-control" placeholder="Ví dụ: Giao ngoài giờ hành chính"></textarea>
  </div>

  <table class="table mt-4">
    <thead class="thead-default">
      <tr>
        <th>SẢN PHẨM</th>
        <th>ĐƠN GIÁ</th>
        <th>SỐ LƯỢNG</th>
        <th>THÀNH TIỀN</th>
      </tr>
    </thead>
    <tr *ngFor="let item of products2, let i = index">
      <td class="product-info w-100">
        <img class="d-inline-block img-thumbnail w-25 h-25 mr-2" [src]="item.product_image">
        <span class="d-inline-block">{{item.product_name}}
          <br>
          <i class="fa fa-window-close" (click)="DeleteProduct(i)"></i>
        </span>
      </td>
      <td>{{item.sub_prod[0].price}}</td>
      <td>
        <input #quantity type="number" value="{{item.quantity}}" min="1" max="1000" (change)="[tinhTotalPrice(quantity.value, item.sub_prod[0].price, i), TinhTongTienCart()]">
      </td>
      <td id="thanh-tien" class="thanh-tien">{{ item.total_price | number }}</td>
    </tr>

    <tr>
      <td class="" colspan="3" style="font-weight: bold; text-align: right;  font-size: 20px">Tổng tiền</td>
      <!-- <td style="font-weight: bold; color: rgb(207, 6, 6); font-size: 20px">{{products2.tong_tien | number}}</td> -->
    </tr>
  </table>

</div>

<app-shopping-cart></app-shopping-cart>