<!-- Modal -->
<div class="modal fade" id="dang-ky" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đăng ký tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="ho-ten">Họ và Tên</label>
            <input type="text" class="form-control" id="ho-ten" aria-describedby="hotenHelp" placeholder="Họ và Tên">
            <small id="hotenHelp" class="form-text text-muted">vd: Cao Minh Hưng</small>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Địa chỉ Email">
            <small id="emailHelp" class="form-text text-muted">vd: example@gmail.com</small>
          </div>

          <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" placeholder="Mật khẩu từ 6-30 ký tự, bao gồm cả số và chữ">
          </div>
          <div class="form-group">
            <label for="password">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="password" placeholder="Xác nhận mật khẩu">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Đăng kí</button>
      </div>
    </div>
  </div>
</div>