<!-- Modal -->
<div class="modal fade" id="dang-ky" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đăng ký tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group form-group">
            <label for="ho-ten">Họ và Tên
              <span class="required">*</span>
            </label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="user.name" id="ho-ten" aria-describedby="hotenHelp"
              placeholder="Họ và Tên" name="name" required #name="ngModel">
            <!-- <small id="hotenHelp" class="form-text text-muted">vd: Cao Minh Hưng</small> -->
            <div *ngIf="name.invalid && (name.dirty || name.touched || messageError.name)">
              <div *ngIf="name.errors.required">
                <span class="required">Họ tên không được để trống</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email
              <span class="required">*</span>
            </label>
            <input type="email" class="form-control form-control-sm" [(ngModel)]="user.email" id="email" aria-describedby="emailHelp"
              placeholder="Địa chỉ Email" name="email" required #email="ngModel" email>
            <div *ngIf="email.invalid && (email.dirty || email.touched || messageError.email.required)">
              <div *ngIf="email.errors.required">
                <span class="required">Email không được để trống</span>
              </div>
              <div *ngIf="email.errors.email && !email.errors.required">
                <span class="required">Email không đúng định dạng</span>
              </div>
            </div>

            <div *ngIf="email.valid">
                <div *ngIf="messageError.email.existed.check">
                  <span class="required">{{messageError.email.existed.message}}</span>
                </div>
              </div>
          </div>
          <!-- Password -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password">Mật khẩu
                <span class="required">*</span>
              </label>
              <input type="password" class="form-control form-control-sm" [(ngModel)]="user.password" id="password" placeholder="Mật khẩu từ 6-30 ký tự, bao gồm cả số và chữ"
                name="password" required #password="ngModel" (change)="checkConfirmPassword()" minlength="6" maxlength="30">
              <div *ngIf="password.invalid && (password.dirty || password.touched || messageError.password)">
                <div *ngIf="password.errors.required">
                  <span class="required">Mật khẩu không được để trống</span>
                </div>
                <div *ngIf="password.errors.minlength && !password.errors.required">
                    <span class="required">Mật khẩu tối thiểu 6 kí tự</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="re_password">Nhập lại mật khẩu
                <span class="required">*</span>
              </label>
              <input type="password" class="form-control form-control-sm" [(ngModel)]="re_password" (change)="checkConfirmPassword()" id="re_password"
                placeholder="Xác nhận mật khẩu" name="re_password" required #rePassword="ngModel">
              <!-- Check required -->
              <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched || messageError.re_password.required.check)">
                <div *ngIf="rePassword.errors.required">
                  <span class="required">Xác nhận mật khẩu không được để trống</span>
                </div>
              </div>
              <!-- Check confirm password -->
              <div *ngIf="rePassword.valid && (rePassword.dirty || rePassword.touched)">
                <div *ngIf="messageError.re_password.confirm.check">
                  <span class="required">
                    {{messageError.re_password.confirm.message}}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Phone -->
          <div class="form-group">
            <label for="phone">Số điện thoại
              <span class="required">*</span>
            </label>
            <input type="phone" class="form-control form-control-sm" [(ngModel)]="user.phone" id="phone" aria-describedby="phoneHelp"
              placeholder="Số điện thoại" name="phone" required #phone="ngModel">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched || messageError.phone)">
              <div *ngIf="phone.errors.required">
                <span class="required">Số điện thoại không được để trống</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="birthday">Ngày sinh</label>
            <input type="date" class="form-control form-control-sm" [(ngModel)]="user.birthday" value="{{user.birthday}}" id="birthday"
              aria-describedby="birthdayHelp" placeholder="Ngày sinh" min="1920-01-01" max="2020-12-31" name="birthday">
          </div>

          <div class="form-group">
            <label for="city">Thành phố
              <span class="required">*</span>
            </label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="user.city" id="city" aria-describedby="cityHelp"
              placeholder="Địa chỉ" name="city" required #city="ngModel">
            <div *ngIf="city.invalid && (city.dirty || city.touched || messageError.city)">
              <div *ngIf="city.errors.required">
                <span class="required">Thành phố không được để trống</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="address">Địa chỉ chi tiết
              <span class="required">*</span>
            </label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="user.address" id="address" aria-describedby="addressHelp"
              placeholder="Địa chỉ" name="address" required #address="ngModel">
            <div *ngIf="address.invalid && (address.dirty || address.touched || messageError.address)">
              <div *ngIf="address.errors.required">
                <span class="required">Địa chỉ không được để trống</span>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-md" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success btn-md" (click)="addNewUser()">Đăng kí</button>
      </div>
    </div>
  </div>
</div>