<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Quản lí Shop Online</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="isActive == 1">
        <a class="nav-link" routerLink="/quanlydonhang">Quản lí đơn hàng</a>
      </li>

      <li class="nav-item" [class.active]="isActive == 2">
        <a class="nav-link" routerLink="/quanlysanpham">Quản lí sản phẩm</a>
      </li>


      <li class="nav-item dropdown" [class.active]="isActive == 3">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Thống kê</a>
        <div class="dropdown-menu">
          <a href="/quanlydoanhthu" class="dropdown-item">Quản lý doanh thu</a>
        </div>
      </li>

      <!-- Welcome -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown">Welcome {{name}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/login" (click)="logout()">{{name=='unknown' ? 'Sign In': "Logout"}}</a>
        </div>
      </li>
    </ul>

  </div>
</nav>