<app-nav-guest [isActive]="3"></app-nav-guest>

<div class="container mt-2">
    <form>
        <h4 class="display-4 text-center">
            Liên hệ với chúng tôi
        </h4>
        <div class="form-group">
            <input type="text" placeholder="Tên của bạn.." class="form-control w-30" name="name" [(ngModel)]="name_" #name="ngModel" required>
            <div *ngIf="name.invalid && (name.dirty || name.touched || messageError.name)">
                <div *ngIf="name.errors.required">
                    <span class="required">Họ tên không được để trống</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="email" placeholder="Email của bạn.." class="form-control w-30" name="email" [(ngModel)]="email_" #email="ngModel" required email>
            <div *ngIf="email.invalid && (email.dirty || email.touched || messageError.email.required)">
                <div *ngIf="email.errors.required">
                  <span class="required">Email không được để trống</span>
                </div>
                <div *ngIf="email.errors.email && !email.errors.required">
                  <span class="required">Email không đúng định dạng</span>
                </div>
              </div>
        </div>

        <div class="form-group">
            <textarea name="content" id="content" rows="3" placeholder="Nhập nội dung phản hồi của bạn..." class="form-control" [(ngModel)]="content_"
                #content="ngModel" required></textarea>
            <button class="btn btn-outline-danger mt-2 btn-comment pointer" (click)="addContact()">Gửi phản hồi</button>
        </div>
    </form>
</div>

<app-shopping-cart></app-shopping-cart>