<!-- Modal -->
<div class="modal fade" id="doi-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thay đổi password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Password cũ -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="old-password">Mật khẩu cũ
                <span class="required">*</span>
              </label>
              <input type="password" class="form-control form-control-sm" [(ngModel)]="old_password" id="old-password" placeholder="Mật khẩu cũ"
                name="oldPassword" required #oldPassword="ngModel" (change)="checkConfirmPassword()" minlength="6" maxlength="30">
              <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || messageError.old_password)">
                <div *ngIf="oldPassword.errors.required">
                  <span class="required">Mật khẩu không được để trống</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Password mới-->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="new-password">Mật khẩu mới
                <span class="required">*</span>
              </label>
              <input type="password" class="form-control form-control-sm" [(ngModel)]="new_password" id="password" placeholder="Mật khẩu từ 6-30 ký tự"
                name="new_password" required #newPassword="ngModel" (change)="checkConfirmPassword()" minlength="6" maxlength="30">
              <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched || messageError.new_password)">
                <div *ngIf="newPassword.errors.required">
                  <span class="required">Mật khẩu không được để trống</span>
                </div>
                <div *ngIf="newPassword.errors.minlength && !newPassword.errors.required">
                  <span class="required">Mật khẩu tối thiểu 6 kí tự</span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="re_password">Nhập lại mật khẩu
                <span class="required">*</span>
              </label>
              <input type="password" class="form-control form-control-sm" [(ngModel)]="re_password" (change)="checkConfirmPassword()" id="re_password"
                placeholder="Xác nhận mật khẩu" name="re_password" required #rePassword="ngModel">
              <!-- Check required -->
              <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched || messageError.re_password.required.check)">
                <div *ngIf="rePassword.errors.required">
                  <span class="required">Xác nhận mật khẩu không được để trống</span>
                </div>
              </div>
              <!-- Check confirm password -->
              <div *ngIf="rePassword.valid && (rePassword.dirty || rePassword.touched)">
                <div *ngIf="messageError.re_password.confirm.check">
                  <span class="required">
                    {{messageError.re_password.confirm.message}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-md" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success btn-md" (click)="updatePassword()">Cập nhật</button>
      </div>
    </div>
  </div>
</div>