<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/home-page">
    <img src="../../../assets/logo.svg" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <form class="form-inline">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Tìm kiếm ..." aria-label="Username" aria-describedby="basic-addon1">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </form>
    </li>
  </ul>

  <div class="shopping-cart" data-toggle="modal" data-target="#shopping-cart">
    <i class="fa fa-shopping-basket"></i>
  </div>
</nav>

<!-- <div class="nav2" style="background: #f5f5f5;">
  <ul class="justify-content-center dieu-huong">
    <li class="">
      <a class="active left" href="#">Khám Phá</a>
    </li>
    <li class="">
      <a class="" href="#">Cửa Hàng</a>
    </li>
    <li class="">
      <a class="right" href="#">Ngành Hàng</a>
    </li>
  </ul>

</div> -->